<div class="col-sm-12 ml-1">
    <div class="card text-center bg-secondary text-white mb-3">
        <a href="posts.html" class="btn btn-outline-light btn-sm">
        <div class="card-body">
          <p >{{ tot }}</p>
          <h5 class="display-4">1127</h5>
        </div>
      </a>
      </div>
  <div class="row ml-1">
        <div class="card text-center bg-success text-white mb-3">
            <a href="posts.html" class="btn btn-outline-light btn-sm">
            <div class="card-body">
              <p>{{ completed }}</p>
              <h6 class="display-4">924</h6>
            </div>
          </a>
          </div>
          <div class="card text-center bg-warning text-white mb-3 ml-2">
              <a href="posts.html" class="btn btn-outline-light btn-sm">
              <div class="card-body">
                <p class="display-6">{{ modified }}</p>
                <h5 class="display-4">176</h5>
              </div>
            </a>
            </div>
  </div>
  
        <div class="card text-center bg-danger text-white mb-3">
            <a href="posts.html" class="btn btn-outline-light btn-sm">
            <div class="card-body">
              <p>{{ failed }}</p>
              <h5 class="display-4">29</h5>
            </div>
          </a>
          </div>
</div>